@using CasinoRoyal.Data.Entity
@model WaiterViewModel

@{
    ViewData["Title"] = "Hotel Rooms";
}

<h3>Guest Check-in For Breakfast</h3>


<table class="mytable">
    @using (Html.BeginForm("Index", "Waiter", FormMethod.Post))
    {
        <tr>
            <td>
                <label>Room Number:</label>
            </td>
            <td>
                @Html.DropDownListFor((model => model.RoomIndex), Model.DisplayRoomNumbers, "-- Select  --")
                @Html.HiddenFor(m => m.Guests)
            </td>
            <td>
                <button value="Save" class="btn mybutton">List Guests</button>
            </td>
        </tr>
    }
</table>


@using (Html.BeginForm("CheckIn", "Waiter", FormMethod.Post))
{
    <fieldset class="myfieldset">
        <legend>Adults:</legend>
        <table class="mytable">
            <tbody>
            <tr>
                <td>
                    @if (Model.Guests != null)
                    {
                        for (var i = 0; i < Model.Guests.Count; i++)
                        {
                            if (Model.Guests[i].GuestType == "Adult")
                            {
                                <label class="mylabel" for="@Model.Guests[i].GuestID">@($"{Model.Guests[i].FirstName} {Model.Guests[i].LastName}") </label>
                                <br/>
                                <button type="submit" class="btn mybutton" name="btn" value="@Model.Guests[i].GuestID" id="@Model.Guests[i].GuestID">Check-in </button>
                                @Html.HiddenFor(g => g.Guests[i].GuestID)
                                @Html.HiddenFor(g => g.Guests[i].GuestType)
                            }
                        }
                    }
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>

    <fieldset class="myfieldset">
        <legend>Children:</legend>
        <table class="mytable">
            <tbody>
            <tr>
                <td>
                    @if (Model.Guests != null)
                    {
                        for (var i = 0; i < Model.Guests.Count; i++)
                        {
                            if (Model.Guests[i].GuestType == "Child")
                            {
                                <label class="mylabel" for="@Model.Guests[i].GuestID">@($"{Model.Guests[i].FirstName} {Model.Guests[i].LastName}")</label>
                                <br/>
                                <button type="submit" class="btn mybutton" name="btn" value="@Model.Guests[i].GuestID" id="@Model.Guests[i].GuestID">Check-in </button>
                                @Html.HiddenFor(g => g.Guests[i].GuestID)
                                @Html.HiddenFor(g => g.Guests[i].GuestType)
                            }
                        }
                    }
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>
}
    <div>
        @{
            if (Model.Guests != null)
            {
                if (Model.Guests.Count == 0)
                {
                    if ((string) TempData["check"] == "false")
                    {
                        <p>Please select room</p>
                    }
                    else
                    {
                        <p>No Reservations</p>
                    }
                }
            }
        }
        @if ((string) TempData["success"] == "true")
        {
            <p>Guest checked in</p>
        }
        @if ((string) TempData["CheckedOut"] == "true")
        {
            <p>All guests checked out</p>
        }
    </div>
    <div>
        <input type="button" class="btn btn-primary" value="Checkout all guests" onclick="location.href='@Url.Action("Checkout", "Waiter")'" />
    </div>