@using CasinoRoyal.Data.Entity
@model WaiterViewModel

@{
    ViewData["Title"] = "Hotel Rooms";
}

<h2>Guest Check-in For Breakfast</h2>
<br />
<table class="mytable">
    <tr>
        <td>
            <label>Room Number:</label>
        </td>
        <td>
            @using (Html.BeginForm("Rooms", "Waiter", FormMethod.Post))
            {
                @Html.DropDownListFor((model => model.RoomIndex), Model.DisplayRoomNumbers, "-- Select  --")
                @Html.HiddenFor(m => m.Guests)
                <button name="foo" value="Save" class="mybutton">List Guests</button>
            }

        </td>
    </tr>
</table>


<table class="mytable">
    <tr>
        <td>
            <label>Adults</label>
        </td>
        <td>
            @using (Html.BeginForm("CheckIn", "Waiter", FormMethod.Post))
            {
                if (Model.Guests != null)
                {
                    for (var i = 0; i < Model.Guests.Count; i++)
                    {
                        if (Model.Guests[i].GuestType == "Adult")
                        {
                            <label for="@Model.Guests[i].GuestID">@($"{Model.Guests[i].FirstName} {Model.Guests[i].LastName}") </label>
                            <button type="submit" class="mybutton"> Check -in </button>
                            @Html.HiddenFor(g => g.Guests[i].GuestID)
                            @Html.HiddenFor(g => g.Guests[i].IsCheckedIn)
                        }
                    }
                }
            }
        </td>
    </tr>
    <tr>
        <td>
            <label>Children</label>
        </td>
        <td>
            @using (Html.BeginForm("CheckIn", "Waiter", FormMethod.Post))
            {
                if (Model.Guests != null)
                {
                    for (var i = 0; i < Model.Guests.Count; i++)
                    {
                        if (Model.Guests[i].GuestType == "Child")
                        {
                            <label for="@Model.Guests[i].GuestID">@($"{Model.Guests[i].FirstName} {Model.Guests[i].LastName}") </label>
                            <button type="submit" class="mybutton"> Check -in </button>
                            @Html.HiddenFor(g => g.Guests[i].GuestID)
                            @Html.HiddenFor(g => g.Guests[i].IsCheckedIn)
                        }
                    }
                }
            }
        </td>
    </tr>
</table>

<div>
    @if ((string)TempData["success"] == "true")
    {
        <p>Guests checked in</p>
    }
</div>