@using CasinoRoyal.Data.Entity
@model WaiterViewModel

@{
    ViewData["Title"] = "Hotel Rooms";
}

<h2>Guest Check-in For Breakfast</h2>
<br />
<table class="mytable">
    <tr>
        <td>
            <label>Room Number:</label>
        </td>
        <td>
            <form asp-action="Rooms" method="post">
                @Html.DropDownListFor((model => model.RoomIndex), Model.DisplayRoomNumbers, "-- Select  --")
                @Html.HiddenFor(m => m.CurrentRoom)
                <button name="foo" value="Save" class="mybutton">List Guests</button>
            </form>
        </td>
    </tr>
</table>

<form asp-action="CheckIn" method="post">
    <table class="mytable">
        <tr>
            <td>
                <label>Adults</label>
            </td>
            <td>
                @{
                    if (Model.CurrentRoom != null)
                    {
                        foreach (var guest in Model.CurrentRoom.Guests)
                        {
                            if (guest.GuestType == "Adult")
                            {
                                <label>@($"{guest.FirstName} {guest.LastName}")</label>
                                <input type="checkbox" value="@guest.IsCheckedIn" name="ids" />
                            }
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>
                <label>Children</label>
            </td>
            <td>
                @{
                    if (Model.CurrentRoom != null)
                    {
                        foreach (var guest in Model.CurrentRoom.Guests)
                        {
                            if (guest.GuestType == "Child")
                            {
                                <label>@($"{guest.FirstName} {guest.LastName}")</label>
                                <input type="checkbox" value="@guest.IsCheckedIn" name="ids" />
                            }
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td>
                @for (int i = 0; i < Model.Guests.Count; i++)
                {
                    Html.HiddenFor(m => m.Guests[i].GuestID);
                }
                <button type="submit" name="bar" value="Save" onclick="location.href = '@Url.Action("CheckIn", "Waiter")'">Check-in</button>
            </td>
        </tr>
    </table>
</form>

<div>
    @if ((string)TempData["success"] == "true")
    {
        <p>Guests checked in</p>
    }
</div>