@model ReceptionistViewModel

<h4>Breakfast Reservation - Room @Model.CurrentRoom.HotelRoomID</h4>
<br/>

<form method="post" asp-action="CompleteRoom">
    <table class="mytable">
        <p class="centerTextBold dashed">Entire Room:</p>
        <thead class="font-weight-bold">
        <tr>
            <td>
                @Html.DisplayFor(m => m.HotelRoomNumber)
            </td>
            <td>
                @Html.DisplayFor(m => m.Date)
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                @Html.DisplayFor(m => m.CurrentRoom.HotelRoomID)
            </td>
            <td>
                @Html.TextBoxFor(m => m.ReservationDateDisplay)
            </td>
            <td>
                <button type="submit" class="mybutton">Book Breakfast</button>
                @Html.HiddenFor(g => g.CurrentRoom.HotelRoomID);

            </td>
        </tr>
        </tbody>
    </table>
</form>

<br/>

<table class="mytable">
    <thead>
        <p class="centerTextBold dashed">Single Guest:</p>
        <tr>
            <th>
                <label class="font-weight-bold">First Name</label>
            </th>
            <th>
                <label class="font-weight-bold">Last Name</label>
            </th>
            <th>
                <label class="font-weight-bold">Type</label>
            </th>
            <th>
                <label class="font-weight-bold">Reservation date</label>
            </th>
        </tr>
    </thead>
    @foreach (var guest in Model.CurrentRoom.Guests)
    {
        Model.CurrentGuest = guest;

        <tbody>
        <form method="post" asp-action="CompleteGuest">
            <tr>
                <td>
                    @Html.DisplayFor(m => m.CurrentGuest.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(m => m.CurrentGuest.LastName)
                </td>
                <td>
                    @Html.DisplayFor(m => m.CurrentGuest.GuestType)
                </td>
                <td>
                    @{
                        guest.LastReservationDate = DateTime.Now;
                    }
                    @Html.TextBoxFor(m => m.CurrentGuest.LastReservationDateDisplay)
                </td>
                <td>
                    <button type="submit" class="mybutton" name="BookButton" value="@Model.CurrentRoom.HotelRoomID">Book Breakfast</button>
                    @Html.HiddenFor(g => g.CurrentGuest.GuestID);

                </td>
            </tr>
        </form>
        </tbody>
    }
</table>
