@model CasinoRoyal.Data.Entity.Guest

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h3>Remove Guest</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HotelRoomID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HotelRoomID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GuestType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GuestType)
        </dd>
    </dl>
    <br/>
    <form asp-action="Delete">
        <input type="hidden" asp-for="GuestID" />
        <p class="font-weight-bold">Are you sure you want to check the guest out?</p>
        <input type="submit" value="Check out"  class="mybutton red_button" id="mybuttonstyle"/>
        <br/>
        <br/>
        <a asp-controller="Receptionist" asp-action="GuestIndex">
            <img src="~/Images/back-button.png" width="50" />
        </a>
    </form>
</div>