@model CasinoRoyal.Data.Entity.Guest

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h3>Guest Details</h3>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HotelRoom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HotelRoom.HotelRoomID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CheckedIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CheckedIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MadeReservation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MadeReservation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GuestType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GuestType)
        </dd>
    </dl>
</div>
<div>
    <input type="button" class="mybutton green_button" id="mybuttonstyle" value="Edit Guest" onclick="location.href = '@Url.Action("Edit", "Receptionist")'"/>
</div>
<br/>
<a asp-controller="Receptionist" asp-action="GuestIndex">
    <img src="~/Images/back-button.png" width="50" />
</a>