@using Microsoft.Data.SqlClient.DataClassification
@model ReceptionistViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Breakfast status, @DateTime.Today.ToString("D")</h4>
<br />
<table class="mytable">
    <tr>
        <td>
            <input type="button" class="btn btn-primary myborderbox_ mediumbutton" value="Add New Guest" onclick="location.href = '@Url.Action("Create", "Receptionist")'" />
        </td>
        <td>
            <input type="button" class="btn btn-primary myborderbox red_button mediumbutton" value="Edit/Remove" onclick="location.href = '@Url.Action("GuestIndex", "Receptionist")'" />
        </td>
    </tr>
</table>
<br />

<table class="mytable">
    <thead>
    <tr>
        <th>
            @Html.Label(Model.HotelRoomNumber)
        </th>
        <th>
            <label>Adult done</label>
        </th>
        <th>
            <label>Children done</label>
        </th>
    </tr>
    </thead>
    @foreach (var item in Model.HotelRooms)
    {
        <tbody>
        <tr>
            @if (item.Guests.Count != 0)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.HotelRoomID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdultsBreakfastDone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChildrenBreakfastDone)
                </td>
                <td>
                    <form asp-action="Book">

                        @{
                            if (TempData["Booking"] != null && (TempData["Booking"].ToString()) == item.HotelRoomID.ToString())
                            {
                                <button type="submit" class="mybutton green_button" id="mybuttonstyle" value="@item.HotelRoomID" name="BookButton"><p>Successful!</p></button>
                            }

                            else if (TempData["Fail"] != null && (TempData["Fail"].ToString()) == item.HotelRoomID.ToString())
                            {
                                <button type="submit" class="mybutton red_button" id="mybuttonstyle" value="@item.HotelRoomID" name="BookButton"><p>Guest has eaten today</p></button>

                            }
                            else
                            {
                                <button type="submit" class="mybutton yellow_button" id="mybuttonstyle" value="@item.HotelRoomID" name="BookButton"><p>Book Breakfast</p></button>
                            }
                        }
                    </form>
                </td>
            }
        </tr>
        </tbody>
    }
</table>

<br/>
<br/>

<table class="buttontable">
    <tr>
        <td>
            <input type="button" class="btn btn-primary myborderbox bigbutton" value="Reservations - Next 5 Days" onclick="location.href = '@Url.Action("Reservations", "Receptionist")'" />
        </td>
    </tr>
    <tr>
        <td>
            <input type="button" class="btn btn-primary myborderbox red_button bigbutton" name="CancelBtn" value="Cancel All Reservations" onclick="location.href = '@Url.Action("CancelAllReservations", "Receptionist")'"/>
        </td>
    </tr>
    <tr>
        <td>
            @{
                if (TempData["cancel"] != null)
                {
                    if (TempData["cancel"].ToString() == "CancelBtn")
                    {
                        <p class="mywarning">Successful cancel!</p>
                    }
                    else
                    {
                        <p class="mywarning">Failed to cancel</p>
                    }
                }
            }
        </td>
    </tr>
</table>