@using Microsoft.Data.SqlClient.DataClassification
@model ReceptionistViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Breakfast status, @DateTime.Today.ToString("D")</h4>
<br />
<div>
    <input type="button" class="btn btn-primary myborderbox" value="New Hotel Guest" onclick="location.href = '@Url.Action("Create", "Receptionist")'" />
</div>
<br />

<table class="mytable">
    <thead>
    <tr>
        <th>
            @Html.Label(Model.HotelRoomNumber)
        </th>
        <th>
            <label>Adult done</label>
        </th>
        <th>
            <label>Children done</label>
        </th>
    </tr>
    </thead>
    @foreach (var item in Model.HotelRooms)
    {
        <tbody>
        <tr>
            @if (item.Guests.Count != 0)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.HotelRoomID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdultsBreakfastDone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChildrenBreakfastDone)
                </td>
                <td>
                    <form asp-action="Book">
                        <button type="submit" class="mybutton" id="mybuttonstyle" value="@item.HotelRoomID" name="BookButton">
                            @{
                                if (TempData["Booking"] != null)
                                {
                                    if ((TempData["Booking"].ToString()) == item.HotelRoomID.ToString())
                                    {
                                        <p>Successful!</p>
                                    }
                                    else if(TempData["Booking"].ToString() == "Failed")
                                    {
                                        <p>Guest has eaten today</p>
                                    }
                                    else
                                    {
                                        <p>Book Breakfast</p>
                                    }
                                }
                                else
                                {
                                    <p>Book Breakfast</p>
                                }
                            }
                        </button>
                    </form>
                </td>
            }
        </tr>
        </tbody>
    }
</table>

<br/>
<br/>

<table class="buttontable">
    <tr>
        <td>
            <input type="button" class="btn btn-primary myborderbox" value="Reservations - Next 5 Days" onclick="location.href = '@Url.Action("Reservations", "Receptionist")'" />
        </td>
        <td>
            <input type="button" class="btn btn-primary myborderbox" value="Cancel All Reservations" onclick="location.href = '@Url.Action("", "Receptionist")'" />
        </td>
    </tr>
</table>