@model ReceptionistViewModel

<h4>Breakfast Reservations, @DateTime.Today.ToString("D") - @DateTime.Today.AddDays(5).ToString("D")</h4>

<table class="mytable">
    <thead>
    <tr>
        <td>
            <label class="font-weight-bold">Room Number</label>
        </td>
        <th>
            <label class="font-weight-bold">First Name</label>
        </th>
        <th>
            <label class="font-weight-bold">Last Name</label>
        </th>
        <th>
            <label class="font-weight-bold">Type</label>
        </th>
        <th>
            <label class="font-weight-bold">Reservation date</label>
        </th>
    </tr>
    </thead>
    @foreach (var guest in Model.GuestsWithReservations)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => guest.HotelRoomID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => guest.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => guest.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => guest.GuestType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => guest.LastReservationDate)
                </td>

            </tr>
        </tbody>
    }
</table>