@model ReceptionistViewModel

<h4>Breakfast Reservations, @DateTime.Today.ToString("D") - @DateTime.Today.AddDays(5).ToString("D")</h4>
<br/>
<table class="mytable">
    <thead>
    <tr>
        <td>
            <label class="font-weight-bold">Reservation date</label>
        </td>
        <td>
            <label class="font-weight-bolder">Room Number</label>
        </td>
        <td>
            <label class="font-weight-bold">First Name</label>
        </td>
        <td>
            <label class="font-weight-bold">Last Name</label>
        </td>
        <td>
            <label class="font-weight-bold">Type</label>
        </td>
    </tr>
    </thead>
    @foreach (var reservation in Model.Reservations)
    {
        foreach (var guest in reservation.Guests)
        {
            <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => reservation.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => guest.HotelRoomID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => guest.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => guest.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => guest.GuestType)
                </td>
            </tr>
            </tbody>
        }
    }
</table>
<a asp-controller="Receptionist" asp-action="Index">
    <img src="~/Images/back-button.png" width="50" />
</a>