@using CasinoRoyal.Data.Entity
@model WaiterViewModel

@{
    ViewData["Title"] = "Hotel Rooms";
}

<h2>Guest Check-in For Breakfast</h2>
<br/>
<table class="mytable">
    <tr>
        <td>
            <label>Room Number:</label>
        </td>
        <td>
            <select >
                @foreach(var room in Model.HotelRooms)
                {
                    <option value="@room.HotelRoomID">@room.HotelRoomID</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <td>
            <label>Adults</label>
        </td>
        <td>
            @foreach (var guest in Model.HotelRooms[Model.ChoosenRoom].Guests)
                {
                    int index = 0;
                    if (guest.GuestType == "Adult")
                    {
                        <label for="@(++index)">@guest.FirstName</label>
                        <input type="checkbox" id="@(++index)" name="@(++index)" value="" /><br/>
                    }
                }
        </td>
    </tr>
    <tr>
        <td>
            <label>Children</label>
        </td>
        <td>
            @foreach (var guest in Model.HotelRooms[Model.ChoosenRoom].Guests)
            {
                int index = 0;
                if (guest.GuestType == "Child")
                {
                    <label for="@(++index)">@guest.FirstName</label>
                    <input type="checkbox" id="@guest.GuestID" name="@(++index)" value="" /><br/>
                }
            }
        </td>
    </tr>
    <tr>
        <td>
            <button type="submit" asp-action="CheckIn">Check-in</button>
        </td>
    </tr>
</table>