@model KitchenStaffViewModel

@{
    ViewData["Title"] = "Hotel Rooms";

}

<div id="CenterAlignKitchenStaffView">

    <h2>Breakfast Check-in Information, @DateTime.Today.ToString("D")</h2><br />
    <fieldset id="fieldsetMargin" class="tablekitchen">
        <legend>Hotel Guests Total:</legend>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalGuests)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalAdults)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalChildren)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.TotalGuests)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TotalAdults)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TotalChildren)
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <br />
    <fieldset id="fieldsetMargin" class="tablekitchen">
        <legend>Checked In For Breakfast:</legend>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AdultsCheckedIn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ChildrenCheckedIn)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.AdultsCheckedIn)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ChildrenCheckedIn)
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>
    <br />
    <fieldset fieldset id="fieldsetMargin" class="tablekitchen">
        <legend>Not Checked In For Breakfast:</legend>
        <table class="table" id="tablekitchen">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalNotCheckedIn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AdultsNotCheckedIn)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ChildrenNotCheckedIn)
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.TotalNotCheckedIn)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.AdultsNotCheckedIn)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ChildrenNotCheckedIn)
                    </td>
                </tr>
            </tbody>
        </table>
    </fieldset>

    <div>
        <input type="button" class="btn btn-primary myborderbox" value="Update" onclick="location.href = '@Url.Action("Index", "KitchenStaff")'" />
    </div>
</div>